@charset "utf-8";

html{
    font-size:15px;
}
body{
    background-color: #7F8C8D;
    background-image: url("../images/white_brick_wall.png");
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: cover;
    background: #7F8C8D url("../images/white_brick_wall.png") repeat left top;
}
#container{
    background-color: rgba(255,0,0,0.4);
    width: 1000px;
    margin: 0 auto;
    padding: 10px 20px;
}
.site-header{
    border: 2px solid red;
    border-bottom: 4px dotted #00ff00;
    text-align:center;
    height:auto;
}
.logo{
    margin: 40px 0 0 0;
    border-radius: 50%;
    outline: 5px dotted #E7FF3C;
}
.site-header h1{
    color: white;
    font-weight: normal;
    font-size: 4rem; /* 4 x 15 = 60px */
}
h1, h2, h3, h4, h5, h6{
    font-family: Arial, Helvetica, sans-serif;
}
.site-header a{
    text-decoration: none;
    color: #555;
    background-color: #2ECC71;
    padding: 10px; 
}
.info{
    border-bottom: 2px solid #333;
}
article{
    width: 60%;
    display: inline-block;
}
aside{
    width: 39%;
    display: inline-block;
    vertical-align: top;
}
aside img{
    max-width: 100%;
}










